@model IEnumerable<Identity.Models.WorkOuts>

@{
    ViewData["Title"] = "Index";

}

    <head>
        <link rel="stylesheet" href="~/css/main.css" />

    </head>
<table class="table table-striped table-bordered table-sm">

    <thead>
        <tr>



            <th class="text-center">Muscles</th>


        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">


                    @*@Html.DisplayFor(modelItem => item.title)
                    |*@ 
                    <a asp-controller="MuscleGroups" asp-action="Excercises" style="color:black" asp-route-id="@item.muscleGroupID"> @Html.DisplayFor(modelItem => item.title)</a>

                    @*<a asp-action="Description" style="color:black" asp-route-id="@item.muscleGroupID"> @Html.DisplayFor(modelItem => item.name)</a>*@
                </td>



            </tr>

        }

    </tbody>
</table>