@model IEnumerable<MuscleGroup>
<div><h3>Muscle Groups</h3></div>
<div class="text-danger" asp-validation-summary="ModelOnly"></div>

<table class="table table-striped table-bordered table-sm">
    <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Muscle</th>

    </tr>
    @if (Model.Count() == 0)
    {
        <tr><td colspan="4" class="text-center">No Muscles</td></tr>
    }
    else
    {
        foreach (var muscle in Model)
        {
            <tr>
                <td class="text-center">@muscle.muscleGroupID</td>
                <td colspan="4" class="text-center">@muscle.muscle</td>
                <td class="text-center">

                    <form asp-action="Delete" asp-route-id="@muscle.muscleGroupID" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="Edit"
                           asp-route-id="@muscle.muscleGroupID">Edit</a>
                        <button type="submit" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    }
</table>
<div class="text-left">
    <a asp-area="" asp-controller="RoleAdmin" asp-action="Index" class="btn btn-secondary">Go to roles</a>
    <a asp-area="" asp-controller="Admin" asp-action="HandleSpotMe" class="btn btn-info">Handle SpotMe</a>
    <a asp-area="" asp-controller="MuscleGroup" asp-action="Create" class="btn btn-dark" d>Create Muscles</a>
    <a asp-area="" asp-controller="MuscleGroup" asp-action="HandleMuscle" class="btn btn-success" d>Handle Muscles</a>

    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <a asp-controller="Account" asp-action="Logout"
           class="btn btn-danger">Logout</a>
    }
</div>