@model Identity.Models.MuscleGroup

@{
    ViewData["Title"] = "Edit";
        Layout = "_AdminLayout";

}

<h1>Edit</h1>

<h4>MuscleGroup</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="muscleGroupID" />
            <div class="form-group">
                <label asp-for="WorkoutsID" class="control-label"></label>
                <input asp-for="WorkoutsID" class="form-control" />
                <span asp-validation-for="WorkoutsID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="muscle" class="control-label"></label>
                <input asp-for="muscle" class="form-control" />
                <span asp-validation-for="muscle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
