@model Identity.Models.MuscleGroup

@{
    ViewData["Title"] = "Edit";
        Layout = "_AdminLayout";

}


<h4>Edit WorkOuts</h4>
<hr />
<div class="row">
    <link rel="stylesheet" href="~/css/main.css" />

    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="muscleGroupID" />
            <div class="form-group">
                <label asp-for="WorkoutsID" class="control-label"></label>
                <input asp-for="WorkoutsID" class="form-control" />
                <span asp-validation-for="WorkoutsID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>

                <textarea rows="10" cols="77" id="description" input asp-for="description" class="form-control">
 
                </textarea>
                @*<input asp-for="description" class="form-control" />*@
                <span asp-validation-for="description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
