@model CreateModel


<h3>Sign Up</h3>

<h4>Please fill this form to create an account</h4>
<body>
    <link rel="stylesheet" href="~/css/HelpSheet.css" />
    <link rel="stylesheet" href="~/css/main.css" />

    <div asp-validation-summary=" All" class="text-danger"></div>
    <form asp-action="SignUp" method="post">
        <div class="form-group">
            <label>User Name:</label><input asp-for="Name" placeholder="Enter User Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Email:</label><input asp-for="Email" placeholder="Enter Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>



        <div class="form-group">
            <label>Password:</label><input type="password" placeholder="Enter Password" asp-for="Password" class="form-control " />
            <span asp-validation-for="Password" class="text-danger"></span>

            <label for="togglePassword"></label>

            <input type="checkbox" onclick="myFunction()">Show Password
            <script>
                function myFunction() {
                    var x = document.getElementById("Password");
                    if (x.type === "password") {
                        x.type = "text";
                    } else {
                        x.type = "password";
                    }
                }
            </script>
        </div>


        <button type="submit" class="btn btn-primary">Sign Up</button>
        <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-secondary">Cancel</a>



    </form>
</body>